{exp:stash:set name="seo_title"}Subpage SEO Title{/exp:stash:set}
{exp:stash:set name="seo_dsc"}Subpage SEO Description{/exp:stash:set}
{exp:stash:set name="body_class"}page-subpage{/exp:stash:set}

{exp:stash:set name="page_main"}
    <div class='container'>
        
        <div class='clearfix'>
            <div class='column-two-third'>
                <h2>h2 - 404 Page</h2>
            </div>
            
            <div class='column-one-third -last -flex-gutter-append'>
                {nav-sub}
            </div>
        </div>
    </div>
{/exp:stash:set}


{embed='include_templates/.wrapper'}