// Header
//-------------------------------------------------//
.hdr-main {
    background: $black;
    
    padding: $spacingDefault 0;    
    
    .logo {
        margin: 0;
        
        &,
        a {
            color: $white;
            text-align: center;
        }
    }
}
//-------------------------------------------------//