{exp:stash:set name="seo_title"}Home SEO Title{/exp:stash:set}
{exp:stash:set name="seo_dsc"}Home SEO Description{/exp:stash:set}
{exp:stash:set name="body_class"}page-home{/exp:stash:set}

{exp:stash:set name="page_main"}
    <div class='container'>
        <div class='section-row clearfix'>
            <div class='column-full'>
                <h2>h2 - Nibh Aenean Magna Fusce</h2>
                
                <p>Nulla vitae elit libero, a <a href='#'>pharetra augue</a>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                
                <p><a href='#' class='button'>Learn More</a></p>
            </div>
        </div>
        
        <div class='section-row clearfix'>
            <div class='column-half'>
                <h3>h3 - Fusce Commodo Lo</h3>
                
                <ul>
                    <li>Ultricies Ornare Parturient Elit</li>
                    <li>Euismod Dapibus Magna Commodo</li>
                    <li>Risus Cursus Tristique</li>
                    <li>Vehicula Venenatis Amet</li>
                    <li>Vehicula Ipsum Dapibus Vestibulum Tellus</li>
                    <li>Bibendum Aenean Venenatis Nibh</li>
                    <li>Dapibus Fusce Cursus Venenatis</li>
                </ul>
            </div>
            
            <div class='column-half -last'>
                <h3>h3 - Euismod Mollis Nibh</h3>
                
                <ol>
                    <li>Ultricies Ornare Parturient Elit</li>
                    <li>Euismod Dapibus Magna Commodo</li>
                    <li>Risus Cursus Tristique</li>
                    <li>Vehicula Venenatis Amet</li>
                    <li>Vehicula Ipsum Dapibus Vestibulum Tellus</li>
                    <li>Bibendum Aenean Venenatis Nibh</li>
                    <li>Dapibus Fusce Cursus Venenatis</li>
                </ol>
            </div>
        </div>
        
        <div class='section-row clearfix'>
            <div class='column-one-third'>
                <h4>h4 - Ipsum Egestas</h4>
                
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            </div>
            
            <div class='column-one-third'>
                <h4>h4 - Risus Vehicula</h4>
                
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            </div>
            
            <div class='column-one-third -last'>
                <h4>h4 - Cursus Ligula Ege</h4>
                
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            </div>
        </div>
    </div>
{/exp:stash:set}


{embed='include_templates/.wrapper'}